
.scrollable-list {
    position: absolute;
    left: 55%;
    width: 40%;
    max-height: 90vh; /* 使用百分比单位来设置最大高度 */
    overflow-y: auto; /* 垂直滚动条 */
    border: 1px solid #ccc; /* 边框样式 */
    padding: 10px; /* 内边距 */
    margin: 20px;
}
.current-song{
        background-color:white;
        height: 20px;
}
audio{
position: absolute;
top: 70%;
left: 15%;

}

li{
    list-style: none;
    border-radius: 25px  ;
}

li:hover{
    background-color: aqua;
}
.playlist{
    height: 75%;
}